@page "/"
@inject ISixLetterWordService SixLetter
@inject IWordTree WordTree
@inject IWordFinder WordFinder

@using Microsoft.AspNetCore.Components.Web

@* TODO: Need to add a list of possible words as well here *@

    <div id="maincontent">
        @foreach (var ch in CharViewModels) {
            <button class="charbtn btn btn-outline-primary btn-lg" btnwasclicked="@(ch.HasBeenClicked)"
                    disabled="@(ch.HasBeenClicked)"
                    @onclick="@(() => OnLetterClick(ch))">@ch.Character</button>
        }

        <p class="currentGuess">@currentGuess</p>
        <p class="isWordResult">@result</p>
        <br/>
        <button class="btn btn-dark" @onclick="OnSubmitClick">Submit</button>
        <button class="btn btn-dark" @onclick="OnClearClick">Clear</button>
        <button class="btn btn-dark" @onclick="OnShuffleClick">Shuffle</button>
        <br/>
        <button class="btn btn-dark" @onclick="OnPreviousClick">◀</button>
        <button class="btn btn-dark" @onclick="OnNextClick">▶</button>

        <p>Words remaining: @(PossibleWords.Count - FoundWords.Count)</p>

        <ul id="foundwordscontainer">
            @foreach(string word in FoundWords) {
                <li>@word</li>
            }
        </ul>
    </div>

@code {
    string currentGuess;
    string result;
    List<CharacterViewModel> CharViewModels = new List<CharacterViewModel>();
    List<string> FoundWords = new List<string>();
    List<string> PossibleWords = new List<string>();
    // mostly for testing, doesn't really need a user option
    bool randomizeWordList = true;

    private string _word;
    public string Word {
        get { return _word; }
        set {
            _word = value;
            currentGuess = string.Empty;
            UpdateCharsFromWord();
            UpdatePossibleWords();
        }
    }
    protected void UpdateCharsFromWord() {
        CharViewModels.Clear();
        if (string.IsNullOrEmpty(Word)) { return; }

        foreach(char c in Word.ToCharArray()) {
            var cvm = new CharacterViewModel() {
                Character = c,
                HasBeenClicked = false
            };
            CharViewModels.Add(cvm);
        }
    }
    protected void UpdatePossibleWords() {
        PossibleWords = WordFinder.FindWordsInString(Word);
    }
    protected override void OnInitialized() {
        SixLetter.Randomize = randomizeWordList;
        Word = SixLetter.GetNextWord().Shuffle();
    }

    public void OnNextClick() {
        Word = SixLetter.GetNextWord().Shuffle();
    }
    public void OnPreviousClick() {
        Word = SixLetter.GetPreviousWord().Shuffle();
    }

    public void OnLetterClick(CharacterViewModel chvm) {
        currentGuess += chvm.Character;
        chvm.HasBeenClicked = true;
        if (!WordTree.IsWord(currentGuess)) {
            result = string.Empty;
        }

        StateHasChanged();
    }

    public void OnClearClick() {
        currentGuess = string.Empty;
        result = string.Empty;
        UpdateCharsFromWord();
    }
    public void OnShuffleClick() {
        CharViewModels = CharViewModels.Randomize().ToList();
    }
    public void OnSubmitClick() {
        result = string.Empty;
        if (WordTree.IsWord(currentGuess)) {
            if (!FoundWords.Contains(currentGuess)) {
                FoundWords.Add(currentGuess);
                result = "✔️";
            }
            else {
                result = "Word already added";
            }
        }
        else {
            result = "Not a word";
        }
        CharViewModels.ForEach((ch) => ch.HasBeenClicked = false);
        currentGuess = string.Empty;
        StateHasChanged();
    }
}
